include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/new_template *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/new_template/migration *.ini *.py *.mako
